<nav
  class="fixed z-50 h-[100px] flex items-center justify-between px-10 w-full transition duration-400 ease-in-out"
  [ngClass]="{ 'bg-black/80 shadow-md backdrop-blur': isScrolled }"
>
  <div class="text-xl font-bold h-full">
    <img
      src="assets/images/logo_white.png"
      alt="Kiefer's Ink Logo"
      class="h-[100%] w-auto object-contain transition-transform hover:scale-105"
    />
  </div>
  <div class="flex gap-4">
    <button routerLink="/" class="nav-btn">Home</button>
    <button routerLink="/about" class="nav-btn">About Us</button>
    <button routerLink="/artists" class="nav-btn">Artists</button>
    <button routerLink="/gallery" class="nav-btn">Gallery</button>
    <button routerLink="/contact" class="nav-btn">Contact Us</button>
  </div>
</nav>
