<nav
  class="fixed z-50 flex items-center justify-between px-10 py-5 w-full transition duration-400 ease-in-out"
  [ngClass]="{ 'bg-black/80 shadow-md backdrop-blur': isScrolled }"
>
  <div class="text-xl font-bold">Logo</div>
  <div class="flex gap-4">
    <button routerLink="/" class="nav-btn">Home</button>
    <button routerLink="/about" class="nav-btn">About Us</button>
    <button routerLink="/gallery" class="nav-btn">Gallery</button>
    <button routerLink="/contact" class="nav-btn">Contact Us</button>
  </div>
</nav>
