<form #createForm="ngForm" (ngSubmit)="onCreate(createForm)">
  <fieldset class="fieldset">
    <legend class="fieldset-legend text-2xl">Add Artist</legend>

    <label for="name" class="label">Artist Name </label>
    <input type="text" name="name" class="input" [(ngModel)]="artist.name" required />

    <label for="imageUrl" class="label">Profile Image</label>
    <input type="file" name="image" class="file-input" (change)="onFileSelected($event)" />
  </fieldset>
  <!-- --------------------------------------------- -->
  <div class="divider"></div>
  <fieldset class="fieldset">
    <div class="flex">
      <legend class="fieldset-legend text-2xl">Contact Information</legend>
      <button type="button" class="btn" (click)="addContact()">+</button>
    </div>
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>Platform</th>
            <th>Handle</th>
            <th>Link</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            @for (contact of artist.contacts; track $index) {
              <td>
                <select
                  class="select"
                  name="contacts[{{ $index }}].platform"
                  [(ngModel)]="contact.platform"
                >
                  <option [ngValue]="null" disabled>Pick a platform</option>
                  <option>Instagram</option>
                  <option>Facebook</option>
                  <option>Tiktok</option>
                  <option>Phone</option>
                  <option>Email</option>
                  <div class="divider"></div>
                  <input
                    type="text"
                    name="contacts[{{ $index }}].platform"
                    [(ngModel)]="contact.platform"
                    class="input"
                    placeholder="Other"
                  />
                </select>
              </td>
              <td>
                <input
                  type="text"
                  name="contacts[{{ $index }}].handle"
                  class="input"
                  [(ngModel)]="contact.handle"
                  required
                />
              </td>
              <td>
                <input
                  type="text"
                  name="contacts[{{ $index }}].url"
                  class="input"
                  [(ngModel)]="contact.url"
                  required
                />
              </td>
              <td>
                <fa-icon
                  icon="trash"
                  class="btn btn-ghost text-xl"
                  (click)="removeContact($index)"
                />
              </td>
            }
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
  <!-- --------------------------------------------- -->
  <div class="modal-action">
    <button type="submit" class="btn">Save</button>
    <button type="button" class="btn" (click)="closeModal(createForm)">Cancel</button>
  </div>
</form>
