<h1 class="pageTitle">Categories</h1>
<button class="button align-super float-end" onclick="create_category_form.showModal()">
  <fa-icon icon="plus" class="text-lg" /> New Category
</button>
<!-- ------------------------------------------------------------------------------------- -->
<div class="space-y-10">
  @for (category of categories; track category.id) {
    <div class="container">
      <div class="p-8">
        <div class="flex gap-2 items-center group">
          @if (!category.editing) {
            <h2 class="font-bold text-3xl">{{ category.name }} Services</h2>
          } @else {
            <input
              [(ngModel)]="category.name"
              class="input input-bordered input-sm w-60 text-xl"
              (keyup.enter)="saveCategory(category)"
              (blur)="saveCategory(category)"
              autofocus
            />
          }

          <button
            class="editButton opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out"
            (click)="toggleEdit(category)"
          >
            <fa-icon icon="pen" class="text-lg" />
          </button>
          <button
            class="deleteButton opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out"
            (click)="openDeleteCategoryModal(category)"
          >
            <fa-icon icon="trash" class="text-lg" />
          </button>

          <button class="button ml-auto" (click)="openCreateOfferingModal(category)">
            <fa-icon icon="plus" /> New Offering
          </button>
        </div>
        <div class="divider"></div>
        @if (category.offerings && category.offerings.length > 0) {
          <div class="grid grid-cols-[repeat(auto-fit,minmax(250px,1fr))] gap-10">
            @for (offering of category.offerings; track offering.id) {
              <div class="card h-fit">
                <img [src]="offering.imageUrl" [alt]="offering.name" class="photo" />
                <div class="card-body p-8 items-s">
                  <p class="card-title font-black grow-0">{{ offering.name }}</p>
                  <p class="text-sm text-base-content/70 grow-0">{{ offering.description }}</p>
                  <div class="badge badge-outline rounded-none">{{ offering.priceRange }}</div>
                  <div class="divider my-0"></div>
                  <div class="flex gap-5 justify-end">
                    <button
                      type="button"
                      class="editButton px-0!"
                      (click)="openEditOfferingModal(offering)"
                    >
                      <fa-icon icon="pen" class="text-sm" />
                    </button>
                    <button
                      type="button"
                      class="deleteButton px-0!"
                      (click)="openDeleteOfferingModal(offering)"
                    >
                      <fa-icon icon="trash" class="text-sm" />
                    </button>
                  </div>
                </div>
              </div>
            }
          </div>
        } @else {
          <div class="italic text-gray-500 m-auto text-sm">This category has no offerings.</div>
        }
      </div>
    </div>
  }
</div>
<!-- ========================================================================================================================================================= -->
<dialog id="create_category_form" class="modal">
  <div class="modal-box">
    <create-category-form />
  </div>
</dialog>
<!-- ------------------------------------------------------------------------------------- -->
<dialog id="delete_category_confirm" class="modal">
  <div class="modal-box">
    <h1>Are you sure you want to remove this category?</h1>
    <p class="text-xl font-black flex gap-2">
      <span class="text-gray-500">Category: </span> {{ selectedCategory?.name }}
    </p>
    <div class="divider"></div>
    <div class="modal-action">
      <button type="submit" class="cancelButton" (click)="deleteCategory()">Delete</button>
      <button type="cancel" class="button" onclick="delete_category_confirm.close()">Cancel</button>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
<!-- ========================================================================================================================================================= -->
<dialog id="create_offering_form" class="modal">
  <div class="modal-box">
    <create-offering-form [category]="selectedCategory" />
  </div>
</dialog>
<!-- ------------------------------------------------------------------------------------- -->
<dialog id="edit_offering_form" class="modal">
  <div class="modal-box">
    <edit-offering-form [offering]="selectedOffering" />
  </div>
</dialog>
<!-- ------------------------------------------------------------------------------------- -->
<dialog id="delete_offering_confirm" class="modal">
  <div class="modal-box">
    <h1 class="confirmation">Are you sure you want to remove this offering?</h1>
    <p class="text-xl flex gap-2 mt-5">
      <span class="text-gray-500">Offering: </span>
      <span class="italic text-yellow-200 font-black">{{ selectedOffering?.name }}</span>
    </p>
    <div class="divider"></div>
    <div class="modal-action">
      <button type="submit" class="cancelButton" (click)="deleteOffering()">Delete</button>
      <button type="cancel" class="button" onclick="delete_offering_confirm.close()">Cancel</button>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
<!-- ========================================================================================================================================================= -->
