<h1 class="pageTitle">Settings</h1>

<div class="space-y-8">
  <!-- Company Info -->
  <div class="container p-8">
    <h2 class="font-bold text-3xl">Company Information</h2>
    <div class="divider"></div>
    <div class="space-y-1">
      @for (setting of settings; track setting.settingKey; let last = $last) {
        @if (setting.settingKey !== 'logoUrl') {
          <div class="flex items-center gap-4">
            <span class="w-40 font-semibold capitalize">
              {{ toTitleCase(setting.settingKey) }}
            </span>
            @if (!setting.editing) {
              <div class="flex items-center gap-4 group">
                <span>{{ setting.settingValue }}</span>
                <button
                  class="editButton opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out"
                  (click)="toggleEdit(setting)"
                >
                  <fa-icon icon="pen" />
                </button>
              </div>
            } @else {
              <input
                [(ngModel)]="setting.settingValue"
                class="input input-bordered input-sm w-full"
                (keyup.enter)="saveSetting(setting)"
                (blur)="saveSetting(setting)"
                autofocus
              />
            }
          </div>
        } @else {
          <div class="flex flex-col w-3xl">
            <span class="w-40 font-semibold capitalize"> Logo </span>
            <img [src]="setting.settingValue" alt="Company Logo" class="photo w-100" />
            <input
              type="file"
              name="image"
              class="file-input"
              (change)="onFileSelected($event, setting)"
            />
          </div>
        }
        @if (!last) {
          <div class="divider"></div>
        }
      }
    </div>
  </div>

  <!-- Company Contacts -->
  <div class="container p-8">
    <div class="flex justify-between">
      <h2 class="font-bold text-3xl">Contacts & Socials</h2>
      <button class="button" onclick="create_company_contact_form.showModal()">
        <fa-icon icon="plus" class="text-lg" /> New Contact
      </button>
    </div>
    <div class="divider"></div>
    <table class="table">
      <thead>
        <tr>
          <th>Platform</th>
          <th>Handle</th>
          <th>Link</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (contact of companyContacts; track contact.id) {
          <tr class="group">
            <td>
              @if (!contact.editing) {
                <span>{{ toTitleCase(contact.platform) }}</span>
              } @else {
                <input
                  [(ngModel)]="contact.platform"
                  class="input input-bordered input-sm w-full"
                  (keyup.enter)="saveContact(contact)"
                  autofocus
                />
              }
            </td>

            <td>
              @if (!contact.editing) {
                <span>{{ contact.handle }}</span>
              } @else {
                <input
                  [(ngModel)]="contact.handle"
                  class="input input-bordered input-sm w-full"
                  (keyup.enter)="saveContact(contact)"
                  autofocus
                />
              }
            </td>

            @if (contact.platform !== 'email' && contact.platform !== 'phone' && contact.url) {
              <td>
                @if (!contact.editing) {
                  <span>{{ contact.url }}</span>
                } @else {
                  <input
                    [(ngModel)]="contact.url"
                    class="input input-bordered input-sm w-full"
                    (keyup.enter)="saveContact(contact)"
                    autofocus
                  />
                }
              </td>
            } @else {
              <td></td>
            }
            <td>
              <button
                class="editButton opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out"
                (click)="toggleEdit(contact)"
              >
                <fa-icon icon="pen" />
              </button>
              <button
                class="deleteButton text-error opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out"
                (click)="openDeleteCompanyContactModal(contact)"
              >
                <fa-icon icon="trash" />
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
<!-- ========================================================================================================================================================= -->
<dialog id="create_company_contact_form" class="modal">
  <div class="modal-box">
    <create-company-contact-form />
  </div>
</dialog>
<!-- ------------------------------------------------------------------------------------- -->
<dialog id="delete_company_contact_confirm" class="modal">
  <div class="modal-box">
    <h1 class="confirmation">Are you sure you want to remove this contact?</h1>
    <p class="text-xl flex gap-2 mt-5">
      <span class="text-gray-500">Platform: </span
      ><span class="italic text-yellow-200 font-black">{{ selectedCompanyContact?.platform }}</span>
    </p>
    <p class="text-xl flex gap-2 mt-5">
      <span class="text-gray-500">Handle: </span>
      <span class="italic text-yellow-200 font-black">{{ selectedCompanyContact?.handle }}</span>
    </p>
    @if (
      selectedCompanyContact?.platform !== 'email' &&
      selectedCompanyContact?.platform !== 'phone' &&
      selectedCompanyContact?.url
    ) {
      <p class="text-xl flex gap-2 mt-5 items-center">
        <span class="text-gray-500">URL: </span>
        <a [href]="selectedCompanyContact?.url" class="link italic text-sm">{{
          selectedCompanyContact?.url
        }}</a>
      </p>
    }

    <div class="divider"></div>
    <div class="modal-action">
      <button type="submit" class="cancelButton" (click)="deleteCompanyContact()">Delete</button>
      <button type="cancel" class="button" onclick="delete_company_contact_confirm.close()">
        Cancel
      </button>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>

<dialog id="logo_preview_modal" class="modal">
  <div class="modal-box">
    <h1 class="confirmation">Confirm New Logo</h1>

    @if (previewUrl) {
      <img [src]="previewUrl" alt="Logo Preview" class="logo-preview-photo" />
    }

    <div class="divider"></div>

    <div class="modal-action">
      <button class="button" (click)="confirmLogoUpload()">Confirm</button>
      <button class="cancelButton" (click)="cancelLogoUpload()">Cancel</button>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
