@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

@import 'tailwindcss';

@theme {
  --font-poppins: 'Poppins';
}
@plugin "daisyui" {
  themes: dark --default;
}

body {
  @apply font-poppins;
}

.photo {
  @apply h-fit rounded-2xl object-contain transition-transform duration-500 group-hover:scale-105 w-lg;
}
