<h1 class="pageTitle">Artists</h1>
<button class="button align-super float-end" onclick="create_artist_form.showModal()">
  <fa-icon icon="plus" class="text-lg" /> New Artist
</button>
<div class="space-y-8">
  @for (artist of artists; track artist.id) {
    <div class="card flex-row gap-8 group">
      <img [src]="artist.imageUrl" [alt]="artist.name" class="photo w-[200px]!" />
      <div class="flex-1 py-5">
        <p class="text-xl font-black mb-2">{{ artist.name }}</p>
        <small class="italic text-gray-400">Contacts</small>
        @for (contact of artist.contacts; track contact.id) {
          <p class="text-sm">
            {{ toTitleCase(contact.platform) }}: <span class="italic">{{ contact.handle }}</span>
          </p>
        }
      </div>
      <div class="py-5 justify-center">
        <button
          class="editButton opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out"
          (click)="openEditArtistModal(artist)"
        >
          <fa-icon icon="pen" class="text-lg" />
        </button>
        <button
          class="deleteButton opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-in-out"
          (click)="openDeleteArtistModal(artist)"
        >
          <fa-icon icon="trash" class="text-lg" />
        </button>
      </div>
    </div>
  }
</div>

<!-- ===================================================================================== -->
<dialog id="create_artist_form" class="modal">
  <div class="modal-box">
    <create-artist-form />
  </div>
</dialog>
<!-- ===================================================================================== -->
<dialog id="edit_artist_form" class="modal">
  <div class="modal-box">
    <edit-artist-form [artist]="selectedArtist" />
  </div>
</dialog>
<!-- ===================================================================================== -->
<dialog id="delete_artist_confirm" class="modal">
  <div class="modal-box">
    <div>
      <h1 class="confirmation">
        Are you sure you want to remove artist
        <span class="italic text-yellow-200 font-black">{{ selectedArtist?.name }}</span
        >?
      </h1>
    </div>
    <div class="divider"></div>
    <div class="modal-action">
      <button type="submit" class="cancelButton" (click)="deleteArtist()">Delete</button>
      <button type="cancel" class="button" onclick="delete_artist_confirm.close()">Cancel</button>
    </div>
  </div>

  <form method="dialog" class="modal-backdrop">
    <button>close</button>
  </form>
</dialog>
