<section class="banner bg-[url('/assets/images/banner1.jpg')]">
  <div class="absolute inset-0 bg-white/10"></div>
  <div class="absolute inset-0 flex flex-col justify-center items-center text-white">
    <h1 class="font-black text-white text-[clamp(2rem,5vw,5rem)]">Our Artists</h1>
  </div>
</section>

<section class="relative py-16 px-10 md:px-20 text-white mx-auto">
  <div class="smoke-bg bg-[url('/assets/images/effects_smoke.png')] rotate-180"></div>

  <div class="text-center mb-12">
    <h2 class="text-3xl font-bold mb-4">Meet the Team</h2>
    <p class="text-gray-400 max-w-3xl mx-auto">
      The artists — storytellers, translating your ideas into stunning designs that last a lifetime.
    </p>
  </div>

  <div class="grid grid-cols-[repeat(auto-fit,minmax(300px,1fr))] gap-10 max-w-6xl mx-auto">
    @for (artist of artists; track artist.id) {
      <div
        class="card hover:bg-primary/30 transition-all duration-300 group w-full max-h-min"
        (click)="viewGalleryByArtist(artist.id)"
      >
        <div class="overflow-hidden">
          <img [src]="artist.imageUrl" [alt]="artist.name" class="artist-photo" />
        </div>
        <div class="px-6 py-3">
          <h3 class="text-2xl font-semibold mb-2">{{ artist.name }}</h3>
          @for (contact of artist.contacts; track contact.id) {
            @let link = displayLinks(contact);
            <p class="link-button link-button-white">
              <a [href]="contact.url" target="_blank" class="flex gap-2 items-center"
                ><fa-icon [icon]="[link.prefix, link.icon]" class="text-xl" />
                {{ contact.handle }}</a
              >
            </p>
          }
        </div>
      </div>
    }
  </div>

  <div class="mt-12 text-center">
    <p class="text-gray-400">
      Want to work with one of our artists? <br />
      <span class="text-white font-medium"
        >Book a consultation today and start your design journey.</span
      >
    </p>
  </div>
</section>

<!-- 
<a href="{{ contact.url }}" target="_blank">
  <i class="fab fa-{{ contact.platform }}"></i> {{ contact.handle }}
</a> -->
